.transparent-back
{
    background: rgb(56, 55, 55);
   background-clip: text;
    backdrop-filter: blur(2px);
}
.scroll-bar::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.animation-toast{
    animation: toasts 1s linear 0s 1 alternate both;
}
@keyframes toasts {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.MenuNav{
    animation: Navbar 0.8s linear 0s 1 alternate both;
    position: relative;
}
@keyframes Navbar {
    from{
        left: -1000px;
    }
    to{
        left: 0px;
    }
    
}